*{
    border: 1px solid blue;
}
#title, #description{
    margin: auto;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.credPart, .selPart, .checkPart{
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.labelChunk{
    display: inline-block;
    float: left;
    width: 49%;
    text-align: right;
}

.inputChunk{
    display: inline-block;
    float: right;
    width: 49%;
    text-align: left;
}

.inputChBox{
    float: right;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 49%;
}