// *{
//     border: 0.5px solid blue;
// }

body{
    font-family: "Gaegu", cursive;
    font-size: 1.3em;
}

input, textarea, select{
    font-family: "Gaegu", cursive;
}

#title, #description{
    margin: auto;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#description{
    margin-top: 15px;
}

.mainDiv{
    margin-top: 25px;
    background: rgb(220, 223, 229);
    overflow: hidden;
    border-radius: 50%;
}

form{
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 50%;
    overflow: hidden;
}

.credPart, .selPart, .sel2Part, .radPart, .checkPart, .textPart{
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
}

.credPart{
    margin-top: 25px;
    input{
        width: 165px;
    }
}

.labelChunk{
    display: inline-block;
    float: left;
    width: 49%;
    text-align: right;
}

.inputChunk{
    display: inline-block;
    float: right;
    width: 49%;
    text-align: left;
}

.inputRadioBox, .inputCheckBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    float: right;
    text-align: left;
    overflow: hidden;
}

.textPart{
    label{
        padding-left: 50%;
    }
}
#textArea{
    height: 50px;
    width: 250px;
    font-family: "Gaegu", cursive;
}

[type="submit"]{
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

@media screen and(max-width: 830px){
    .credPart{
        input{
            width: 100px;
        }
    }
    
    .textPart{
        label{
            padding-left: 60%;
        }
        #textArea{
            width: 150px;
        }
    }
}

@media screen and(max-width: 660px){

    .mainDiv{
        border-radius: 45%;
    }

    form{
        border-radius: 42%;
    }

    .inputChunk, .labelChunk{
        float: left;
        width: 100%;
        text-align: center;
    }

    .inputCheckBox, .inputRadioBox{
        width: 50%;
        float: none;
        margin: auto;
    }

    .labelChunk{
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .textPart{
        width: 70%;
        .labelChunk{
            display: block;
        }
        label{
            padding: 0;
        }  
    }
}
